<!doctype html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
</head>
<body>
    <h1>Air Conditioner Remote</h1>

    <h2>State</h2>
    <img class="webcam" src="/webcam.jpeg" />
    <div class="timestamp">{{imageDate}}</div>

    <h2>Remote Control</h2>
    <form class="remote">
        <button data-action="power">Power</button>
        <button data-action="mode">Mode</button>
        <button data-action="auto">Auto</button>
        <br />

        Temp:
        <button data-action="temp_up">Up</button>
        <button data-action="temp_dn">Down</button>
        <br />

        Fan:
        <button data-action="fan_up">Up</button>
        <button data-action="fan_dn">Down</button>
        <br />

        <button data-action="delay">Delay</button>
        <button data-action="delay_up">Up</button>
        <button data-action="delay_dn">Down</button>
    </form>

    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
